user_name = "anything" # it's just a prefix and tag to help identify the cluster components
environment = "anythings_test_env"
access_key = "####################"
secret_key = "########################################"
ssh_key_path = "<path2key/<keyname>.pem"
ssh_key_name = "<keyname>"
vpc_id = "vpc-#######"
security_group_name = "cassandra"
